<div class="jumbotron center">
	<h1>snap365</h1>
	<p>Snap one photo. Every day. 365 days.</p>
	<p><%= link_to "Join the Challenge", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>