<h1>Notes</h1>

<p>1/1/13 - [Bug Fix] When viewing an individual Snap, the image would not resize with the browser. Added the img-responsive class to the show view to fix the issue.</p>

<p>1/3/13 - [Bug Fix] Adjusted width of a Snap on the browse page so they would flow into four columns at full width screen.</p>