<div class="container">
<h1>snap365 users</h1>

    <div class="row">

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        <img class="media-object" src="http://critterapp.pagodabox.com/img/user.jpg">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">User Name</h4>
                        <p>Hometown, USA</p>
                        <p>emailaddress</p>
                        <p>Started the challenge on: January 1, 2014</p>
                		<p><span class="label label-info">888 snaps</span></p>
                    </div>
                </div>
            </div>
        </div>


		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        <img class="media-object" src="http://critterapp.pagodabox.com/img/user.jpg">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">User Name</h4>
                        <p>Hometown, USA</p>
                        <p>emailaddress</p>
                        <p>Started the challenge on: January 1, 2014</p>
                		<p><span class="label label-info">888 snaps</span></p>
                    </div>
                </div>
            </div>
        </div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        <img class="media-object" src="http://critterapp.pagodabox.com/img/user.jpg">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">User Name</h4>
                        <p>Hometown, USA</p>
                        <p>emailaddress</p>
                        <p>Started the challenge on: January 1, 2014</p>
                		<p><span class="label label-info">888 snaps</span></p>
                    </div>
                </div>
            </div>
        </div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        <img class="media-object" src="http://critterapp.pagodabox.com/img/user.jpg">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">User Name</h4>
                        <p>Hometown, USA</p>
                        <p>emailaddress</p>
                        <p>Started the challenge on: January 1, 2014</p>
                		<p><span class="label label-info">888 snaps</span></p>
                    </div>
                </div>
            </div>
        </div>

		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        <img class="media-object" src="http://critterapp.pagodabox.com/img/user.jpg">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">User Name</h4>
                        <p>Hometown, USA</p>
                        <p>emailaddress</p>
                        <p>Started the challenge on: January 1, 2014</p>
                		<p><span class="label label-info">888 snaps</span></p>
                    </div>
                </div>
            </div>
        </div>

	</div>
</div>