<nav class="navbar navbar-default" role="navigation">
  <div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <%= link_to "threesixtyfive", root_path, class:"navbar-brand" %>
	  </div>

	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, class:"btn btn-default navbar-btn pull-right", method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class:"btn btn-default navbar-btn pull-right" %>
        <% end %>
  	</div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>